*{
    margin: 0;
    padding: 0;
}
#section_padding{
    margin-top: 120px;
    margin-bottom: 120px;
}
.welcome{
    display: flex;
    margin-top: 75px;
}
.welcome .left{
    width: 40%;
    padding-left: 75px;
}
.welcome .left h1{
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
.welcome .left h3{
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}
.welcome .left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 0 20px 0;
}
.welcome .left span{
    color: #ffbc00;
}
.welcome .left a{
    background-image: linear-gradient(45deg,#8ee48e, #51c4eb);
    padding: 10px 35px;
    color: #fff;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.welcome .right{
    width: 50%;
}
.welcome .right img{
    width: 70%;
    margin-left: 150px;
}
.dream{
    display: flex;
    margin-top: 100px;
}
.dream .left{
    width: 50%;
}
.dream .left img{
    width: 70%;
    padding-left: 75px;
}
.dream .right{
    width: 45%;
    margin-top: 75px;
}
.dream .right h2{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
.dream .right h3{
    margin: 25px 0;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.dream .right p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.dream .right a{
    background-image: linear-gradient(45deg,#8ee48e, #51c4eb);
    padding: 10px 35px;
    color: #fff;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.experience{
    margin: 0 auto;
    width: 90%;
}
.experience h2{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
.experience .web-developer{
    display: flex;
}
.full-stack, .beginner-web-developer{
    width: 50%;
    height: 420px;
    margin: 70px 0 10px 10px;
    padding-left: 3%;
    border-left: 7px solid;
    box-shadow: 5px 4px 70px grey;
}
.full-stack{
    margin-right: 20px;
}
.beginner-web-developer{
    margin-left: 20px;
}
.full-stack h2, .beginner-web-developer h2{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin: 20px 0;
}
.full-stack h3, .beginner-web-developer h3{
    color: #68d0ca;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
}
.full-stack p, .beginner-web-developer p{
    color: dimgrey;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 0 0;
}
footer p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}